{% extends 'base.html.twig' %}

{% block title %}Pläne erstellen{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
{% endblock %}

{% block body %}
    <h1>Trainingsplan erstellen:</h1>
     {{ form_start(form, {'attr': {'class': "form"}}) }}
        {{ form_row(form.name, {'label' : 'Plan-Name'}) }}
        {{ form_row(form.description, { 'label' : 'Beschreibung' }) }}
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}