{% extends 'base.html.twig' %}

{% block title %}Übungen{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/list.css') }}">
{% endblock %}

{% block body %}
    <div class="btn-wrapper">
        <a href={{ path('app_neue_uebung', {'id': planId}) }} ><button class="btn-ne">Neue Übung</button></a>
    </div>
    <ul class="plan-list">
        {% for exercise in uebungen %}
            <a href={{ path('app_erstelle_stats', {'id': exercise.id}) }}>
                <li class="plan-list-item">
                    {{ exercise.name }}
                    Werte hinzufügen
                </li>
            </a>
            <ul>
            {% for stat in stats %}
                {% if stat.getUebungId() == exercise.id %}
                     <li>
                        Datum: {{ stat.getDate|date('d-m-Y')}}
                        Gewicht: {{ stat.getWeight() }}
                        Satz-Nr: {{ stat.getSetNr() }}
                        Wiederholungen: {{ stat.getRepetitions()}}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>

        {% endfor %}
    </ul>
{% endblock %}
