{% extends 'base.html.twig' %}

{% block title %}Übungen{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/list.css') }}">
{% endblock %}

{% block body %}
    <a href={{ path('app_neue_uebung', {'id': planId}) }} class="btn btn-primary new_exc_btn">Neue Übung</a>
    <ul class="plan-list">
        {% for exercise in uebungen %}
            <li class="plan-list-item">
                {{ exercise.name }}
                <a href={{ path('app_erstelle_stats', {'id': exercise.id}) }}>Werte hinzufügen</a>
            </li>
            <ul>
            {% for stat in stats %}
                {% if stat.getUebungId() == exercise.id %}
                     <li>
                        Datum: {{ stat.getDate|date('d-m-Y')}}
                        Gewicht: {{ stat.getWeight() }}
                        Sätze: {{ stat.getSetNr() }}
                        Wiederholungen: {{ stat.getRepetitions()}}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>

        {% endfor %}
    </ul>
{% endblock %}
