{% extends 'base.html.twig' %}

{% block title %}Meine Pläne{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/list.css') }}">
{% endblock %}

{% block body %}
<ul class="plan-list">
    <div class="border">
    {% for plan in plaene %}
        <a href="{{ path('app_meine_uebungen', {'id': plan.id}) }}">
            <li class="plan-list-item">
                <strong>
                Trainingsplan: {{ plan.name }}
                </strong>
                </br>
                Beschreibung: {{ plan.description }}
            </li>
        </a>
    {% endfor %}
    </div>
</ul>
{% endblock %}

